In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
df = pd.read_csv(r"C:\Users\Admin\eclipse\Downloads\NonStop Task- News Article Scrapping\NonStop Task- News Article Scrapping\output.csv")

In [35]:
df.head()

  section                                         News_title
0      us             Deadly Landslide Hits Alaska Community
1      us  Footage Shows Car in Midair Before Rainbow Bri...
2      us  A Biden Thanksgiving: Sweeping Views of Nantuc...
3      us  Senate Candidate in Michigan Says He Was Offer...
4      us                  DeSantis Super PAC C.E.O. Resigns

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 419 entries, 0 to 418
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   section     419 non-null    object
 1   News_title  419 non-null    object
dtypes: object(2)
memory usage: 6.7+ KB

In [37]:
df.isnull().sum()

section       0
News_title    0
dtype: int64

In [38]:
df.describe()

       section                                         News_title
count      419                                                419
unique       7                                                199
top         us  Terrible Choices and Deep Distrust: The Path t...
freq        60                                                  6

In [39]:
df.duplicated().sum()

211

In [40]:
df = df.drop_duplicates(keep='first')

In [41]:
df.head()

  section                                         News_title
0      us             Deadly Landslide Hits Alaska Community
1      us  Footage Shows Car in Midair Before Rainbow Bri...
2      us  A Biden Thanksgiving: Sweeping Views of Nantuc...
3      us  Senate Candidate in Michigan Says He Was Offer...
4      us                  DeSantis Super PAC C.E.O. Resigns

In [42]:
df.shape

(208, 2)

In [43]:
df = df.sample(frac=1, random_state=42)

In [44]:
df['section'].unique()

array(['opinion', 'us', 'business', 'arts', 'lifestyle', 'world',
       'podcasts'], dtype=object)

In [45]:
cl = ['world', 'opinion', 'business', 'podcasts', 'us', 'lifestyle','arts']

In [46]:
df.head()

      section                                         News_title
321   opinion  The OpenAI Coup Is Great for Microsoft. What D...
25         us  Political Pressures on Biden Helped Drive ‘Sec...
143  business  Palantir Wins Major U.K. Health Contract Despi...
186      arts                   Remembering ‘The Exorcist’ at 50
326   opinion                  Inclusion and Exclusion on Campus

In [47]:

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

In [48]:
train_data, test_data = train_test_split(df, test_size=0.2, random_state=42)

In [49]:
vectorizer = TfidfVectorizer(max_features=5000)  
X_train = vectorizer.fit_transform(train_data['News_title'])
X_test = vectorizer.transform(test_data['News_title'])

In [50]:
label_mapping = {'world': 0, 'opinion': 1, 'business':2, 'podcasts':3, 'us':4, 'lifestyle':5,'arts':6}  
y_train = train_data['section'].map(label_mapping)
y_test = test_data['section'].map(label_mapping)

In [51]:
classifier = MultinomialNB()
classifier.fit(X_train, y_train)

MultinomialNB()

In [52]:
predictions = classifier.predict(X_test)

In [53]:
print(predictions)

[3 3 5 5 3 6 4 0 4 5 0 1 3 5 0 3 2 3 6 6 3 5 0 5 5 4 2 3 5 0 6 0 3 6 1 5 3
 4 3 3 1 3]

In [54]:
X_test

<42x808 sparse matrix of type '<class 'numpy.float64'>'
	with 191 stored elements in Compressed Sparse Row format>

In [55]:
first_prediction = cl[3]

In [56]:
y_test

119    2
388    3
292    5
121    2
364    3
298    5
63     0
69     0
174    2
384    3
114    0
304    1
173    2
51     4
322    1
144    2
27     4
299    1
229    6
237    6
140    2
123    2
6      4
21     4
58     4
55     4
238    6
324    1
294    5
67     0
181    6
65     0
61     0
352    1
323    1
267    5
184    6
264    5
172    2
239    5
358    1
88     0
Name: section, dtype: int64

In [57]:
first_actual = cl[3]

In [58]:
first_actual

'podcasts'

In [59]:
# As the First actual and First Predicted are equal, Hence our model has Correctly Predicted the Output

In [60]:
accuracy = accuracy_score(y_test, predictions)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.38

In [61]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.67      0.57      0.62         7
           1       1.00      0.43      0.60         7
           2       0.00      0.00      0.00         8
           3       0.15      0.67      0.25         3
           4       0.25      0.17      0.20         6
           5       0.33      0.50      0.40         6
           6       0.60      0.60      0.60         5

    accuracy                           0.38        42
   macro avg       0.43      0.42      0.38        42
weighted avg       0.44      0.38      0.38        42

In [62]:
import pickle
pickle.dump(classifier,open('model.pkl','wb'))

In [63]:
import pickle
pickle.dump(vectorizer,open('vectorizer.pkl','wb'))